/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px 0px;
  max-height: 100%;
}

/*Blue Square*/

div.blue-square {
  background: #1c5380;
  width: 100%;
  height: 300px;
  margin: 0px;
  z-index: 1;
}

img.logo {
  position: relative;
  float: right;
  top: 190px;
  right: 535px;
}

img.phone {
  position: relative;
  float: left;
  top: 150px;
  left: 350px;
}

/*Main Content*/
main.container {
    margin: 0 150px;
    overflow: hidden;
}

/*Heading*/
span.head {
  color: #1c5380;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  z-index: 3;
  top: 25px;
  left: 340px;
  width: 200px;
}

/*Main Content*/

div.desc {
  position: relative;
  float: right;
}

span {
  font-weight: bolder;
}

img.frame {
  z-index: 2;
  position: absolute;;
  float: right;
  right: 200px;
}
}

div {
  padding-left: 0px;
}

/*Bottom Nav*/
nav {
  display: inline-block;
  position: relative;
  top: 210px;
}

.navlink {
  list-style: none;
  display: inline-block;
}

span.blue {
  color: #1c5380;
}
